.transact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 90vh;
}

.transaction-data {
    height: 100%;
    width: 80%;
}

.transaction-dest {
    width: 50%;
}

.transaction-amount {
    width: 50%;
}