<div class="transact-container">
    <p-toast></p-toast>
    <p-panel header="XaninEthereumTestService" class="transact-data">
        <p-autoComplete [dropdown]="true" [(ngModel)]="userInput" [suggestions]="suggestions" (completeMethod)="autoCompleteInput($event)" placeholder="user"></p-autoComplete>
        <br>
        <br>
        <p-inputNumber [(ngModel)]="amount" placeholder="amount"></p-inputNumber>
        <br>
        <br>
        <p-button label="Submit" (click)="sendTransaction()"></p-button>
    </p-panel>
</div>